:root {
  --background-purple: rgb(157, 162, 221);
  --color-dark: rgb(111, 111, 111);
  --color-grey: #9db5c1;
}

* {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  text-align: center;
  

}
body {
  background: linear-gradient(135deg, #c3cde6 0%, #f2fcfe 100%);
  /* border-color: var(--color-dark); */
}
h1{
  /* background-color: var(--background-purple); */
position: absolute;
top: 260px;
width: 100vw;
  height: 10vh;
  font-size: 5vh;
  color: #7984a5;
}
.land{
  position:relative;
  top: 320px;
  color: var(--color-dark);
}
h3{
  color: #7984a5;
}

.hidden {
  display: none;
}

input,
button {
  /* border-width: 1.5px; */
  border: none;
}

.card {
  padding: 15px;
  /* margin: 20px; */
  border: none;
  /* background-color: #e7eae1; */
}

