:root {
  --background-purple: rgb(157, 162, 221);
  --color-dark: rgb(111, 111, 111);
}

* {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}

h1 {
  background-color: var(--background-purple);
  width: 100vw;
  height: 10vh;
  font-size: 5vh;
}

.hidden {
  display: none;
}

input,
button {
  border-width: 1.5px;
}
